In [44]:
import copy, math
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import os

In [45]:
purdue_df = pd.read_csv('./team_stats/purdue_gamelog_2023.csv')

In [46]:
#print(purdue_df.columns)

columns_to_drop = ['Unnamed: 1', 'Unnamed: 22', 'W/L']

purdue_df.drop(columns_to_drop, inplace=True, axis=1)

purdue_df.columns

Index(['Date', 'Opp', 'Tm', 'Opp.1', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%',
       'FT', 'FTA', 'FT%', 'ORB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF',
       'FG.1', 'FGA.1', 'FG%.1', '3P.1', '3PA.1', '3P%.1', 'FT.1', 'FTA.1',
       'FT%.1', 'ORB.1', 'TRB.1', 'AST.1', 'STL.1', 'BLK.1', 'TOV.1', 'PF.1'],
      dtype='object')

In [47]:
columns = ['Date', 'EFg%', 'ORtg', 'DRtg', 'Pace', 'FTAr', '3PAr', 'TS%', 'TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%', 'ORB%', 'FT/FGA', 'Opp_EFg%', 'Opp_TOV%', 'Opp_FT/FGA']

Empty DataFrame
Columns: [Date, EFg%, ORtg, DRtg, Pace, FTAr, 3PAr, TS%, TRB%, AST%, STL%, BLK%, TOV%, ORB%, FT/FGA, Opp_EFg%, Opp_TOV%, Opp_FT/FGA]
Index: []

In [48]:
new_row_formulas = {
    "Date": lambda df: df['Date'],
    "EFg%": lambda df: (df['FG'] + 0.5 * df['3P']) / df['FGA'],
    "ORtg": lambda df: (df['Tm'] / (df['FGA'] + 0.4 * df['FTA'] + df['TOV'])) * 100,
    "DRtg": lambda df: (df['Opp'] / (df['FGA.1'] + 0.4 * df['FTA.1'] + df['TOV.1'])) * 100,
    "Pace": lambda df: ((df['FGA'] + 0.4 * df['FTA'] + df['TOV']) / 40),
    "FTAr": lambda df: (df['FTA'] / df['FGA']),
    "3PAr": lambda df: (df['3P'] / df['FGA']),
    "TS%": lambda df: (df['Tm'] / (2 * (df['FGA'] + 0.44 * df['FTA']))) * 100,
    "AST%": lambda df: (df['AST'] / df['FG']) * 100,
    "STL%": lambda df: (df['STL'] / (df['FGA.1'] + 0.4 * df['FTA.1'] + df['TOV.1'])) * 100,
    "BLK%": lambda df: (df['BLK'] / df['FGA.1']) * 100,
    "TOV%": lambda df: (df['TOV'] / (df['FGA'] + 0.44 * df['FTA'] + df['TOV'])) * 100,
    "ORB%": lambda df: (df['ORB'] / (df['ORB'] + df['Opp_DRB'])) * 100,
    "FT/FGA": lambda df: (df['FT'] / df['FGA']),
    "Opp_EFg%": lambda df: (df['FG.1'] + 0.5 * df['3P.1']) / df['FGA.1'],
    "Opp_TOV%": lambda df: (df['TOV.1'] / (df['FGA.1'] + 0.44 * df['FTA.1'] + df['TOV.1'])) * 100,
    "Opp_FT/FGA": lambda df: (df['FT.1'] / df['FGA.1'])
}